/obj/ucore-kernel-initrd
/boot/loader
/boot/loader.bin
/boot/loader.o
/dep
/obj/debug/
/obj/driver/
/obj/fs/
/obj/init/
/obj/libs/
/obj/mm/
/obj/process/
/obj/schedule/
/obj/sync/
/obj/syscall/
/obj/trap/
/obj/ucore.bin
/obj/ucore.ub
/obj/user/
/tools/mksfs
